.mainbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mask {
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -9999;
}

.title {
    margin-left: 20px;
    font-size: 26px;
    color: #0051B2;
}

.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #0051B2;
    border-color: #0051B2 transparent #0051B2 transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}