.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;

  width: 874px;
  height: 592px;
  background: url(/card_bg_light.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.cardReadOnly .toWho,
.cardReadOnly .fromWho,
.cardReadOnly .content {
  border: none !important;
}

.stamp {
  position: absolute;
  right: 45px;
  top: 31px;
}

.cardContent {
  width: 620px;
  height: 368px;
  position: relative;
  background: url(/card.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.headWrapper,
.tailWrapper {
  display: flex;
  align-items: center;
}

.headWrapper {
  position: absolute;
  left: 80px;
  top: 44px;
  cursor: pointer;
}

.tailWrapper {
  position: absolute;
  right: 28px;
  bottom: 14px;
}

.headTo,
.tailFrom {
  font-size: 22px;
  color: black;
}

.toWho,
.fromWho {
  font-size: 24px;
  border: dashed 2px #0051B2;
  padding: 0px;
  width: 140px;
  height: 36px;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  line-height: 1.5em;
}

.fromWho {
  width: 195px;
}

.fromWho:empty::before {
  content: attr(placeholder);
  color: black;
}

.contentWrapper {
  position: absolute;
  left: 80px;
  top: 124px;
}

.content {
  width: 462px;
  height: 156px;
  font-size: 22px;
  font-weight: bold;
  color: #0051B2;
  overflow: hidden;
  outline: none;
  border: dashed 2px #0051B2;
  text-align: center;
  line-height: 1.75em;
  box-sizing: border-box;
}

.content:empty::before {
  content: attr(placeholder);
  color: #CDCDCD;
}

.topTabs,
.writeBottomTools {
  display: flex;
  justify-content: center;
}

.viewBottomTools {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.viewBtnGroup {
  margin-bottom: 10px;
}

.btn {
  font-size: 20px;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0;
}