.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("/card_bg.jpg") no-repeat;
  width: 700px;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  position: relative;
}

.stamp {
  position: absolute;
  right: 20px;
  top: 20px;
}