.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;

  width: 840px;
  height: 558px;
  background: url(/card_bg_light.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.cardReadOnly .toWho,
.cardReadOnly .fromWho,
.cardReadOnly .content {
  border: none !important;
}

.stamp {
  position: absolute;
  right: 55px;
  top: 59px;
}

.cardContent {
  width: 611px;
  height: 411px;
  position: relative;
  background: url(/card_bg.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.headWrapper,
.tailWrapper {
  display: flex;
  align-items: center;
}

.headWrapper {
  position: absolute;
  left: 88px;
  top: 70px;
}

.tailWrapper {
  position: absolute;
  right: 38px;
  bottom: 46px;
}

.headTo,
.tailFrom {
  font-size: 22px;
  color: black;
}

.toWho,
.fromWho {
  font-size: 24px;
  border: dashed 2px #0051B2;
  padding: 0px;
  width: 140px;
  height: 36px;
  box-sizing: border-box;
  overflow: hidden;
  outline: none;
  font-weight: bold;
  line-height: 1.5em;
}

.fromWho {
  width: 186px;
}

.fromWho:empty::before {
  content: attr(placeholder);
  color: black;
}

.contentWrapper {
  position: absolute;
  left: 88px;
  top: 140px;
}

.content {
  width: 439px;
  height: 156px;
  font-size: 22px;
  font-weight: bold;
  color: #0051B2;
  overflow: hidden;
  outline: none;
  border: dashed 2px #0051B2;
  text-align: center;
  line-height: 1.8em;
  box-sizing: border-box;
}

.content:empty::before {
  content: attr(placeholder);
  color: #CDCDCD;
  line-height: 2em;
}